on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "I got '$ENV_VAR'"
          echo "$DEBUG_VALUE"
        env:
          ENV_VAR: ${{ contains(github.event.pull_request.labels.*.name, 'my-label') && 'hello' || 'world' }}
          DEBUG_VALUE: ${{ toJSON(github.event.pull_request) }}
