on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "I got '$ENV_VAR'"
        env:
          ENV_VAR: 'Hello, world!'
